<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="post-bar">
	  	<textarea placeholder="Enter post:"></textarea>
	  	<button>Post</button>
	</div>

	<!-- <% include ../partials/feed.ejs %> -->


  </body>
</html>
